.hero-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}

.hero-content {
  width: 100%;
  max-width: 1000px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 4rem;
  padding: 0 5rem;
}

.hero-text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 2rem;
}

.hero-image {
  width: min(100%, 56.25vh);
  height: 100vh;
  flex: 0 1 56.25vh;
  aspect-ratio: 960 / 1707;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  transform: translateY(15%);
}

@media (max-width: 768px) {
  .hero-content {
    flex-direction: column-reverse;
    text-align: center;
  }

  .hero-text {
    align-items: center;
    padding-left: 0;
  }

  .hero-image {
    width: 150px;
    height: 150px;
    aspect-ratio: 1;
    flex: 0 0 150px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;

    background: #3c39390c;

    flex-shrink: 0;
  }

  .hero-image img {
    position: absolute;
    width: 100%;
    max-width: none;
    height: 100%;
    object-fit: cover;
    object-position: 50% -20%;

    left: auto;
    top: auto;
    transform: none;
  }
}